// -------------------------------------------
// button
// -------------------------------------------

@mixin button-reset {
  background: transparent;
  border: none;
  outline: none;
  appearance: none;
}
