// =====================================================//
// Settings
// =====================================================

// Style config
// ================================== //

$media-screen-sp: 500;
$media-screen-tab: 700;
$media-screen-pc: 1024;
$media-screen-pc-wide: 1440;

// Assign Site Width
$site-width: 1280px;

// element margin
$base-space: 1rem;

// Font
// ================================== //

// antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

// auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

// Base font-size
$base-font-size: 16;

// Base line-height
$base-line-height: 1.5;

// Base font-family
$base-font-family: -apple-system, 'BlinkMacSystemFont', Arial, HiraginoSans,
  'Hiragino Kaku Gothic ProN', 'Yu Gothic', Meiryo, sans-serif;

// Color
// ================================== //
$base-color: #fff;
$sub-base-color: #ebedef;
$main-color: #0589cb;
$error-main-color: #e32f2f;
$error-base-color: #fff2f2;
$error-sub-color: #f88e8e;
$text-color-dark: #212121;
$text-color-thin: #404040;
$text-color-neutral: #9fa7ac;
$text-color-light: #dbdfe3;
$text-color-bright: #fff;
$base-primary-color: #007bff;
$base-secondary-color: #6c757d;
$base-success-color: #28a745;
$base-danger-color: #dc3545;
$base-warning-color: #d5a003;
$base-info-color: #17a2b8;
$base-light-color: #f6f7f8;
$base-dark-color: #343a40;
$base-white-color: #fff;
$base-black-color: #212121;
$base-neutral-color: #9fa7ac;

// variants
$status-primary-main-color: #004085;
$status-primary-base-color: #b0d3f8;
$status-secondary-main-color: #383d41;
$status-secondary-base-color: #e2e3e5;
$status-success-main-color: #1c652d;
$status-success-base-color: #e7f5ea;
$status-danger-main-color: #93242f;
$status-danger-base-color: #fadfe1;
$status-warning-main-color: #856404;
$status-warning-base-color: #fff3cd;
$status-info-main-color: #0c5460;
$status-info-base-color: #d1ecf1;
$status-light-main-color: #818182;
$status-light-base-color: #c2c2c2;
$status-dark-main-color: #4a4f55;
$status-dark-base-color: #dedede;
$status-white-main-color: #fff;
$status-white-base-color: #fff;
$status-black-main-color: #f4f4f4;
$status-black-base-color: #696969;
$overlay-color: rgb(0 0 0 / 50%);
$base-background-color: $base-color;
$base-font-color: $text-color-dark;
$selection-background-color: $main-color;
$selection-color: #fff;

// form

$base-placeholder-color: #9f9f9f;
$base-border-color: #d8dbe0;
$base-input-border-color: $base-neutral-color;
$base-disabled-color: $base-neutral-color;
$base-box-shadow: 0 1px 1px 0 rgba($base-black-color, 0.14),
  0 2px 1px -1px rgba($base-black-color, 0.12), 0 1px 3px 0 rgba($base-black-color, 0.2);

// z-index
// ================================== //
$z-map: (
  loading: true,
);
$z-map-reverse: true;
